{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 Chrome versions"]
				}
			}
		],
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 3
			}
		],
		[
			"@babel/preset-react",
			{
				"runtime": "automatic"
			}
		]
	]
}
